

@font-face {
  font-family: Typo_Round;
  src: url("fonts/Typo_Round_Light_Demo.otf");
}


/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Typo_Round;
  padding: 10px;
  overflow: hidden;
}

/*Main Map Style*/

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  /*height: 40%;*/
  width: auto;
  padding: 20% 0% 0% 0%;
}

title img {
  float: left;
}

title h1 {
  float: right;
}

nav {
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 5;
  background-color: #b6bfd3;
  padding: 5px;
  border: 1px solid rgb(223, 218, 218);
  text-align: center;
  font-family: 'Typo_Round';
  line-height: 30px;
  margin: 0 auto;
  position: fixed;
  height: 10%;
  width: 40%;
  align-items: center;
  padding: auto;
}

nav ul {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

nav ul li {
  list-style-type: none;
  margin: 20px;
}

.controls {
  background-color: white;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.button {
  position: relative;
  border-radius: 20px;
  background-color: #242222;
  border: none;
  outline: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: #837979;
  transform: scale(1.1);
}

/*Dark Mode/Light Mode Style*/

#dark_light{
  position: fixed;
  right: 10px;
  top: 10px;
}

/*Place ID Search Style*/

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}


footer{
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: right;
  width: 100%;
  font-size: 12px;
}
